@import url('https://fonts.googleapis.com/css2?family=Anuphan&family=Arvo&family=Bebas+Neue&family=Black+Han+Sans&family=Karla:wght@600&family=Londrina+Outline&family=Montserrat:wght@300&family=Open+Sans&family=Orbitron&family=Poppins&family=Roboto:wght@300&family=Work+Sans:wght@500&display=swap');

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
}

.imagenLogo {
  width: 40px;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #fbfbfb;
background-image: linear-gradient(180deg, #fbfbfb 29%, #05fffc 100%);

}

main {
  flex-grow: 1;
}

.espaciosNav {
  padding: 5px 20px;
  font-size: 20px;
}

footer {
  background-color: black;
  padding: 25px;
  color: #05fffc;
  text-align: center;
  width: 100%;
  font-size: 20PX;
}

.cardOrden {
  width: 22rem;
  margin-bottom: 30px;
  margin-top: 10%;
}

hr {
  margin: 10px 450px;
}

.hr2 {
    margin: 1% 20%;
}

.boton {
border: solid 1px #05fffc;
color: #05fffc;


}

.titulo {
    color: #05fffc;
   
}

.stroke {
    text-align: center;
    color: #05fffc;
    font-family: 'Open Sans';
    font-size: 50px;
    text-shadow: -1px -1px 1px #000, 1px 1px 1px #000, -1px 1px 1px #000, 1px -1px 1px #000;
    -webkit-text-fill-color: #05fffc;
    -webkit-text-stroke: 1px black;
    
    }

    .ordenPagina {
        margin: 1% 20%;
        margin-bottom: 4%;
   
    }

    .parrafo {
        text-align: justify;
        margin: 1% 5%;
        font-size: 25px;
        
    }

    .imagen {
        width: 90%;
       text-align: center;
    }

    .subtitulo{
        font-size: 22px ;
    }

/* dispositivos small */

@media all and (max-width: 767px) {
  .cardOrden {
    width: 100%;
  }

  h1 {
    width: 90%;
    margin: 1% 4%;
  }

  hr {
    margin: 10px 8px;
  }
  footer {
   margin-top: 60px;
   font-size: 12px;
  }

  .stroke {
    text-align: center;
    color: #05fffc;
    font-family: 'Open Sans';
    font-size: 30px;
    text-shadow: -1px -1px 1px #000, 1px 1px 1px #000, -1px 1px 1px #000, 1px -1px 1px #000;
    -webkit-text-fill-color: #05fffc;
    -webkit-text-stroke: 1px black;
    
    
    }

    h4 {
        font-size: 14px;
    }
    .hr2 {
        margin: 1% 0%;
    }
    .parrafo {
        text-align: justify;
        margin: 1% 0%;
        font-size: 13px;
        
        
    }

    .imagen {
        width: 100%;
   
    }

    .subtitulo {
        font-size: 15px;
        text-align: justify;
    }
}

/* dispositivos medium */

@media all and (min-width: 768px) and (max-width: 991px) {
  .cardOrden {
    width: 43rem;
  }

  body {
    margin: 0;
    padding: 0;
  }

  hr {
    margin: 0px 100px;
  }
  footer {
    margin-top: 60px;
    font-size: 25px;
   }

   .stroke {
    text-align: center;
    color: #05fffc;
    font-family: 'Open Sans';
    font-size: 40px;
    text-shadow: -1px -1px 1px #000, 1px 1px 1px #000, -1px 1px 1px #000, 1px -1px 1px #000;
    -webkit-text-fill-color: #05fffc;
    -webkit-text-stroke: 1px black;
    
    }

    h4 {
        font-size: 15px;
    }
    .hr2 {
        margin: 1% 0%;
    }
    .parrafo {
        text-align: justify;
        margin: 1% 1%;
        font-size: 15px;
        
    }

    .imagen {
        width: 100%;
       
    }

  
}
